@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    padding: 10px 132px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(119, 119, 119);
    width: fit-content;
    font-size: 100px;
    text-align: center;
    
}